@model Lemon.Models.Cliente
<link rel="stylesheet" href="~/css/Clientes/create.css">
@{

    ViewData["Title"] = "Registrar cliente";
}

<div class="d-flex col-10 offset-1 justify-content-between">
    <h3>Datos del cliente</h3>

    <h3>Registrar informacion del cliente</h3>
</div>
<div style="display:flex; ">
    <div class="col-md-1 col-1"></div>
    <div class="col-md-10 col-10 border rounded border-secondary p-5" style="background:white;">
        <form id="formCreate" asp-action="Create" style="height:300px; max-height:300px; overflow-y:auto; background:white;">
            <div class="col-md-5 col-12 " style="background:white;">
                <div class="form-group">
                    <label asp-for="TipoDocumento" class="control-label"></label>
                    <select asp-for="TipoDocumento" style="height:40px;" class="Txt col-12 form-control">
                        <option>CC</option>
                        <option>CE</option>
                        <option>NIT</option>
                    </select>
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div>
                <div class="form-group  mt-3">
                    <label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" id="inputDocumento" class="form-control" />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
                <div class="form-group  mt-3">
                    <label asp-for="NombreRazonSocial" class="control-label">Nombre o razón social</label>
                    <input asp-for="NombreRazonSocial" id="inputNombreRS" class="form-control" />
                    <span asp-validation-for="NombreRazonSocial" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2 col-0"></div>
            <div class="col-md-5 col-12">
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" id="inputCorreo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group  mt-3">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" id="inputTelefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" value="1" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
        </form>
        <div style="display:grid; place-items:center; background: white;">
            <div id="errorModelOny" asp-validation-summary="ModelOnly" class="text-danger" style="background:white;"></div>
        </div>

        <div class="d-flex justify-content-between mt-1">
            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

            <input type="submit" onclick="validarCampos('formCreate')" value="Guardar" class="btn" style="background:#077336; color:white;" />
        </div>
    </div>
</div>
@if (ViewData["DocumentoRegistrado"] != null)
{
    <script>
        document.getElementById('errorModelOny').style.display="none"
        Swal.fire({
            icon: 'error',
            title: 'Documento registrado',
            text: 'Este documento ya ha sido registrado',
            timer: 3000,
            timerProgressBar: true,
            confirmButtonColor: '#000000',
            showConfirmButton: true
        })
    </script>
}
@if (ViewData["CorreoRegistrado"] != null)
{
    <script>
        document.getElementById('errorModelOny').style.display = "none"
        Swal.fire({
            icon: 'error',
            title: 'Correo registrado',
            text: 'Este correo ya ha sido registrado',
            timer: 3000,
            timerProgressBar: true,
            confirmButtonColor: '#000000',
            showConfirmButton: true
        })
    </script>
}
@if (ViewData["TelefonoRegistrado"] != null)
{
    <script>
        document.getElementById('errorModelOny').style.display = "none"
        Swal.fire({
            icon: 'error',
            title: 'Telefono registrado',
            text: 'Este telefono ya ha sido registrado',
            timer: 3000,
            timerProgressBar: true,
            confirmButtonColor: '#000000',
            showConfirmButton: true
        })
    </script>
}
<script src="~/js/Clientes/validarCampos.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}