@model Lemon.Models.Rolpermiso

@{
    ViewData["Title"] = "CreateRP";
}

<h1>CreateRP</h1>

<h4>Rolpermiso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="IdRolPermiso" class="control-label"></label>
                <input asp-for="IdRolPermiso" class="form-control" />
                <span asp-validation-for="IdRolPermiso" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <input asp-for="IdRol" class="form-control" />
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPermiso" class="control-label"></label>
                <input asp-for="IdPermiso" class="form-control" />
                <span asp-validation-for="IdPermiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
