@{
    Layout = null;
}

<html5>
    <h1>
        Acceso
    </h1>
    <form asp-action="Ingresar">
        <input name="usuario" />
        <input name="password" />
        <button>Ingresar</button>
    </form>
</html5>