* {
    font-size: 20px;
}

#nav-item2 {
    background: #27e83b;
}

.topUsuarios {
    display: flex;
}

@media (max-width: 768px) {
    .topUsuarios {
        display: block;
    }

        .topUsuarios div {
            margin: auto;
        }

        .topUsuarios a {
            width: 100%;
        }
}
